.footer {
    width: 100vw;
    margin-top: auto;
}

.footer_tail {
    background-color: var(--dark-green);
    color: white;
    padding: 1rem;
}

.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
}

.content p:last-of-type {
    margin-right: 16px;
}

.footer_head {
    background-color: var(--light-grey);
    padding: 16px 32px 32px 32px;
    color: var(--dark-green);
}

.heading {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 12px;
}

.list ul {
    list-style: none;
}

.list li {
    margin-bottom: 5px;
    font-size: 0.8rem;
    color: grey;
}